<html>
	<head>
		<title>Django Girls Blog</title>
	</head>	
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		{% for post in posts %}
			<div>
				<p>published:{{ post.published_date }}</p>
				<h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaks }}</p>
			</div>
		{% endfor %}

<!-- 		
		<div>
			<p>published: 27/03/2016 10:51</p>
			<h2><a href="">My first post</a></h2>
			<p>lo que sea</p>
		</div>

		<div>
			<p>published: 21/03/2016 11:52</p>
			<h2><a href="">My second post</a></h2>
			<p>lo que sea 2</p>
		</div>
 -->	
	</body>
</html>